[submodule "oh-my-zsh/custom/plugins/zshmarks"]
	path = oh-my-zsh/custom/plugins/zshmarks
	url = git@github.com:jocelynmallon/zshmarks.git
[submodule "dein.vim"]
	path = dein.vim
	url = https://github.com/Shougo/dein.vim.git
