[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "cdd"]
	path = cdd
	url = https://github.com/m4i/cdd.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
