[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "oh-my-zsh/custom/plugins/zshmarks"]
	path = oh-my-zsh/custom/plugins/zshmarks
	url = git@github.com:jocelynmallon/zshmarks.git
