[user]
  name = sugilog
  email = sugilog@gmail.com
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[alias]
  myclone = "!f(){ git clone --template=$HOME/dotfiles/git-template/ $@; }; f"
  co = checkout
  a = add
  s = status
  l = log
  c = commit
  done = tag -f 'latest' origin/master
  read = log -p --reverse 'latest'..origin/master
  info = remote -v
  bclean = !git branch --merged | grep -vE '^\\*|master$|release$' | xargs git branch -d
[core]
  editor = nvim
[github]
  user = sugilog@gmail.com
[pager]
  log  = less
  show = less
  diff = less
[diff]
  compactionHeuristic = true
  colorMoved = dimmed_zebra
