[user]
  name = sugilog
  email = sugilog@gmail.com
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  co = checkout
  a = add
  s = status
  l = log
  c = commit
[core]
	editor = vim
[push]
	default = simple
